{% extends 'core/base.html' %}


        <!-- Contact Content -->
        <div id="content" class="site-content">
            {% block content %}



            <article>
                <div class="content-1070 center-relative entry-content">
                    <div class="content-900 center-relative">
                        <h1 class="entry-title">Contact</h1>
                        <div class="one_half ">
                            <p>If you are looking to reach me, please send me a message! I will be more than happy to speak with you!</p>
                            <br>
                            <p></p>
                            <br>
                            <div class="montserrat">
                                <span style="color: #adadad;">Home Base:</span>&nbsp;Winchester, Va, US<br>
                                <span style="color: #adadad;">Phone:</span> +1 540-662-2252<br>
                                <span style="color: #adadad;">Hours:</span> 9:00 am – 5:00 pm
                            </div>
                        </div>
                        <div class="one_half last ">
                            <div class="contact-form">
                                <p><input id="name" type="text" name="your-name" placeholder="Name"></p>
                                <p><input id="contact-email" type="email" name="your-email" placeholder="Email"></p>
                                <p><input id="subject" type="text" name="your-subject" placeholder="Subject"></p>
                                <p><textarea id="message" name="your-message" placeholder="Message"></textarea></p>
                                <p><input type="submit" onClick="SendMail()" value="SEND"></p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </article>
            {% endblock %}


        </div>