{% extends "core/base.html" %}
{% load static %}
{% block title %}{% endblock %}

        <!-- Single Content -->

        <div id="content" class="site-content center-relative">
        {% block content %}

            <div class="single-post-wrapper content-1070 center-relative">
                <article class="center-relative">
                    <h1 class="entry-title">

                        {{posts}}
                    </h1>

                    <div class="post-info content-660 center-relative">
                        <div class="cat-links">
                            <ul>
                                <li><a href="#">{{ posts.category }}</a></li>
                            </ul>
                        </div>
                        <div class="entry-date published">{{ posts.posted }}</div>
                        <div class="clear"></div>
                    </div>

                    <div class="entry-content">

                        <div class="content-wrap content-660 center-relative">
                            <p>{{ posts.body }}.</p>
                            <br>
                            <div class="clear"></div>
                        </div>
                        <div class="post-full-width">
                            <script>
                                var slider1_speed = "500";
                                var slider1_auto = "true";
                                var slider1_pagination = "true";
                                var slider1_hover = "true";
                            </script>
                        </div>
                    </div>
                    <div class="clear"></div>
                </article>
            </div>
            {% endblock %}
        </div>
